body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input {
  font-family: 'Lato', sans-serif;
}

:root {
  --border-color: #3da2cd;
  --card-bkg-color: #3da2cd7a;
  --btn-bkg-danger: #e2081e;
  --btn-bkg-danger-hover: #4d0b11;
}
